ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

hr {
  border: solid 1px #000
}

p {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  /* margin-top: -6% */
}

h1 {
  color: #fff;
  text-align: center;
  text-decoration: underline
}
.grid-container {
  display: grid;
  margin-top: 5%; 
  grid-template-columns: auto auto auto;
  margin-bottom: 5%
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

img {
  width: 80%;
  margin: 10%;
  height: 250px;
  border-radius: 100%;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
